@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');
:root {
    --nav-col-bg: #46ACC2;
    --nav-col-fg: #FFFFFF;
    --border-rad: 0.25em;
    --font-stack: Calibri, 'Open Sans', sans-serif;
    --pane-pad: 0.25em;
    --pane-margin: 0.25em;
    --temp-bg-red: lightcoral;
    --temp-bg-blue: lightblue;
}

body {
    font-family: 'Kosugi Maru', sans-serif;
    padding: 0;
    margin: 0;
}

#head_span {
    background-color: #808080;
    width: 100%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nav_menu_icon {
    display: none;
    align-items: center;
}
#nav_menu_icon > div {
    width: 3ex;
    height: 0.3ex;
    background-color: black;
    margin: 0.2ex;
}
#mobile_nav_menu {
    display: none;
    grid-area: mobile_nav;
}
#nav_bar {
    background-color: #46ACC2;
    display: grid;
    color: white;
    flex-direction: row;
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-areas: "home . nav_menu";
    padding: 1%;
    align-items: center;
}
#nav_home {
    font-size: large;
    text-align: left;
    display: grid;
    grid-area: home;
}
#nav_menu {
    font-size: small;
    display: grid;
    text-align: center;
    grid-area: nav_menu;
    grid-template-columns: auto auto auto;
    grid-template-areas: "nav_r nav_l nav_d";
}
#nav_random { grid-area: nav_r;}
#nav_list {grid-area: nav_l;}
#nav_day {grid-area: nav_d;}

#head_menu_box {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-template-areas: ". hmenu .";
}
#head_menu {
    display: grid;
    grid-area: hmenu;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "m d t";
}
#head_menu > div {
    text-align: center;
    background-color: #F08080;
    margin: 1%;
    padding-top: 1.5ex;
    padding-bottom: 1.5ex;
    border: 1px solid steelblue;
    border-radius: 5px;
}
#head_menu > .menu {
    grid-area: m;
}
#head_menu > .details {
    grid-area: d;
}
#head_menu > .today_pokemon {
    grid-area: t;
}
@media (max-width: 1000px){
    #nav_bar {
        grid-template-columns: auto auto auto;
        grid-template-areas: "home . nav_menu";
    }
    #head_menu_box {
        grid-template-columns: auto;
        grid-template-areas: "hmenu";
    }
}
@media (max-width: 900px){
    #nav_menu {
        display: none;
    }
    #nav_menu_icon {
        display: grid;
        grid-area: menu_icon;
    }
    #nav_bar {
        align-items: center;
        text-align: center;
        grid-template-columns: 1fr 5fr 1fr;
        grid-auto-rows: auto auto;
        grid-template-areas: ". home menu_icon" "mobile_nav mobile_nav mobile_nav";
    }
    #nav_home { text-align: center}
    #head_menu_box {
        grid-template-areas: "hmenu hmenu hmenu";
    }
    #head_menu {
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "t" "d" "m";
    }
}