@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');
:root {
    --nav-col-bg: #46ACC2;
    --nav-col-fg: #FFFFFF;
    --border-rad: 0.25em;
    --font-stack: Calibri, 'Open Sans', sans-serif;
    --pane-pad: 0.25em;
    --pane-margin: 0.25em;
    --temp-bg-red: lightcoral;
    --temp-bg-blue: lightblue;
    --poke-yellow: #FFCB05;
    --some-orange: #ff4000;
    --border-stat: 2px solid #A9A9A9;
}

body {
    font-family: 'Kosugi Maru', sans-serif;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
img {
    max-width: 100%;
}
#head_span {
    background-color: darkslategray;
    width: 100%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.burger_icon {
    display: none;
    align-items: center;
}
.burger_icon > div {
    width: 3ex;
    height: 0.3ex;
    background-color: black;
    margin: 0.2ex;
}
#mobile_nav_menu {
    display: none;
    grid-area: mobile_nav;
}
#nav_bar {
    background-color: darkslategray;
    display: grid;
    color: var(--poke-yellow);
    flex-direction: row;
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-areas: "home . nav_menu";
    padding: 1%;
    align-items: center;
}
#nav_home {
    font-size: large;
    text-align: left;
    display: grid;
    grid-area: home;
}
#nav_menu {
    font-size: small;
    display: grid;
    text-align: center;
    grid-area: nav_menu;
    grid-template-columns: auto auto auto;
    grid-template-areas: "nav_r nav_l nav_d";
}
#nav_random { grid-area: nav_r;}
#nav_list {grid-area: nav_l;}
#nav_day {grid-area: nav_d;}
#head_menu_box {
    margin-top: 2%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-template-areas: ". hmenu .";
}
#head_menu {
    grid-area: hmenu;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0,10fr) minmax(0,1fr) minmax(0,40fr) minmax(0,1fr) minmax(0,10fr);
    grid-template-areas: "m . d . t";
}
#head_menu > div {
    height: 100%;
    text-align: center;
    margin: 1%;
    background-color: deepskyblue;
    padding-top: 1.5ex;
    padding-bottom: 1.5ex;
    border: 1px solid steelblue;
    border-radius: 5px;
}
#head_menu > #menu {
    grid-area: m;
}
#head_menu > #details {
    grid-area: d;
}
#head_menu > #today_pokemon {
    grid-area: t;
}
span {
    display: inline-block;
    margin: 2%;
}
.pokedex {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,2fr) minmax(0,1fr);
    grid-template-areas: "weakness pokemon super_effective";
    flex-direction: row;
}
.weakness {
    grid-area: weakness;
}
.strength {
    grid-area: super_effective;
}
.featured {
    grid-area: pokemon;
}
.pokeList {
    display: grid;
}
.main {
    margin: 5%;
}
.pokemon_details {
    padding: 3%;
}
.pokemon_class {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2%;
}
.pic_div {
    background-color: var(--some-orange);
    padding-bottom: 1%;
}
.poke_stat_div {
    background-color: slategrey;
    align-items: center;
    border: var(--border-stat);
    border-radius: 3px;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
}
.poke_table {
    background-color: blanchedalmond;
    align-items: center;
    border: var(--border-stat);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    display: table-cell;
    justify-content: center;
}
.poke_class {
    grid-area: class;
}
.poke_move {
    grid-area: poke_move;
}
.button {
    background-color: maroon;
    border: 1px aqua solid;
    color: ghostwhite;
    padding: 3%;
    margin: 2%;
}
@media (max-width: 1000px){
    #nav_bar {
        grid-template-columns: auto auto auto;
        grid-template-areas: "home . nav_menu";
    }
    #head_menu_box {
        grid-template-columns: auto;
        grid-template-areas: "hmenu";
    }
}
@media (max-width: 900px){
    #nav_menu {
        display: none;
    }
    #nav_menu_icon {
        display: grid;
        grid-area: menu_icon;
    }
    #nav_bar {
        align-items: center;
        text-align: center;
        grid-template-columns: 1fr 5fr 1fr;
        grid-auto-rows: auto auto;
        grid-template-areas: ". home menu_icon" "mobile_nav mobile_nav mobile_nav";
    }
    #nav_home { text-align: center}
    #head_menu_box {
        grid-template-areas: "hmenu hmenu hmenu";
    }
    #head_menu {
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "t" "d" "m";
    }
    #head_menu > div {
        margin-bottom: 2%;
        height: auto;
    }
    img {
        max-width: 50%
    }
}